@model OpenQMS.Models.Capa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>CAPA</h4>
<hr />
<div>
    <dl class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger col-sm-12"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            <a href="/Products/Details/@Model.ProductId">@Model.Product.Name</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deviation)
        </dt>
        <dd class="col-sm-10">
            <a href="/Deviations/Details/@Model.DeviationId">@Model.Deviation.Title</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectiveAction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorrectiveAction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreventiveAction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreventiveAction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeterminedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeterminedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeterminedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeterminedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssessedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssessedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssessedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssessedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcceptedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcceptedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Implementation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Implementation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImplementedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImplementedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImplementedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImplementedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApprovedOn)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <br />
    <input type="hidden" id="CapaId" value="@Model.Id" />
    @if (((User.IsInRole(Constants.AdministratorsRole) || User.IsInRole(Constants.ManagersRole)) && Model.Status == OpenQMS.Models.Capa.CapaStatus.Assessment) || (User.IsInRole(Constants.AdministratorsRole) && Model.Status == OpenQMS.Models.Capa.CapaStatus.Implementation))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="InputEmail" id="InputEmail" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="InputPassword" id="InputPassword" class="form-control" />
                </div>
            </div>
        </div>
    }
    @if ((User.IsInRole(Constants.AdministratorsRole) || User.IsInRole(Constants.ManagersRole)) && Model.Status == OpenQMS.Models.Capa.CapaStatus.Assessment)
    {
        <br />
        <button class="btn btn-success" id="btnAccepted">Accept</button>
    }
    else if ((User.IsInRole(Constants.AdministratorsRole) || User.IsInRole(Constants.ManagersRole)) && Model.Status == OpenQMS.Models.Capa.CapaStatus.Implementation)
    {
        <br />
        <button class="btn btn-success" id="btnApproved">Approve</button>
    }
</div>

<br />
<h2>Changes</h2>
<div class="row">
    <table class="table table-border">
        <thead>
            <tr>
                <th>Title</th>
                <th>Proposal</th>
                <th>Assessment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Changes)
            {
                <tr>
                    <td>
                        <a href="/Changes/Details/@item.Id">@item.Title</a>
                    </td>
                    <td>@item.Proposal</td>
                    <td>@item.Assessment</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script>
        $('#btnAccepted').click(function () {

            window.location.href = '/Capas/Accepted?id=' + $('#CapaId').val() + '&email=' + $('#InputEmail').val() + '&pwd=' + $('#InputPassword').val();
        });
        $('#btnApproved').click(function () {

            window.location.href = '/Capas/Approved?id=' + $('#CapaId').val() + '&email=' + $('#InputEmail').val() + '&pwd=' + $('#InputPassword').val();
        });
    </script>
}
