@model OpenQMS.Models.Capa

@{
    ViewData["Title"] = "Details";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h2>
                @Model.Title
            </h2>
        </div>
    </div>
    <div class="page-title-subheading opacity-10">
        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a>
                        <i aria-hidden="true" class="fa fa-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="Index">CAPA List</a>
                </li>
                <li class="active breadcrumb-item" aria-current="page">
                    <a asp-action="Details" asp-route-id="@Model.Id">Capa Details</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <ul class="nav nav-tabs z_nav">
                    <li class="nav-item">
                        <a role="tab" class="nav-link Detail_tabs active show" id="tab-0" data-toggle="tab" href="#tab-content-0">
                            <span>CAPA Info</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="tab" class="nav-link Detail_tabs" id="tab-1" data-toggle="tab" href="#tab-content-1">
                            <span>Changes</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane tabs-animation fade  active show" id="tab-content-0" role="tabpanel">
                    <div class="card-body" style="padding-top: 0px;">
                        <div class="row">
                            <div class="col-12 Details">
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.Title):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.Title)
                                        </p>
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.Status):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.Status)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.Product.Name):</p>
                                        @if (Model.Product != null)
                                        {
                                            <a href="/Products/Details/@Model.ProductId">@Model.Product.Name</a>
                                        }
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.Process.Name):</p>
                                        @if (Model.Process != null)
                                        {
                                            <a href="/Processes/Details/@Model.ProcessId">@Model.Process.Name</a>
                                        }
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">Asset:</p>
                                        @if (Model.Asset != null)
                                        {
                                            <a href="/Assets/Details/@Model.AssetId">@Model.Asset.Name</a>
                                        }
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">Deviation:</p>
                                        @if (Model.Deviation != null)
                                        {
                                            <a href="/Deviations/Details/@Model.DeviationId">@Model.Deviation.Title</a>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.CorrectiveAction):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.CorrectiveAction)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.PreventiveAction):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.PreventiveAction)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.DeterminedBy):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.DeterminedBy)
                                        </p>
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.DeterminedOn):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.DeterminedOn)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.Assessment):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.Assessment)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.AssessedBy):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.AssessedBy)
                                        </p>
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.AssessedOn):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.AssessedOn)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.AcceptedBy):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.AcceptedBy)
                                        </p>
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.AcceptedOn):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.AcceptedOn)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.Implementation):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.Implementation)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.ImplementedBy):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.ImplementedBy)
                                        </p>
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.ImplementedOn):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.ImplementedOn)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.ApprovedBy):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.ApprovedBy)
                                        </p>
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.ApprovedOn):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.ApprovedOn)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <a class="nav-link mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="hidden" id="CapaId" value="@Model.Id" />
                                        @if (((User.IsInRole(Constants.AdministratorsRole) || User.IsInRole(Constants.ManagersRole)) && Model.Status == OpenQMS.Models.Capa.CapaStatus.Assessment) || (User.IsInRole(Constants.AdministratorsRole) && Model.Status == OpenQMS.Models.Capa.CapaStatus.Implementation))
                                        {
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" name="InputEmail" id="InputEmail" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" name="InputPassword" id="InputPassword" class="form-control" />
                                            </div>
                                        }
                                        @if ((User.IsInRole(Constants.AdministratorsRole) || User.IsInRole(Constants.ManagersRole)) && Model.Status == OpenQMS.Models.Capa.CapaStatus.Assessment)
                                        {
                                            <br />
                                            <button class="btn btn-success" id="btnAccepted">Accept</button>
                                        }
                                        else if ((User.IsInRole(Constants.AdministratorsRole) || User.IsInRole(Constants.ManagersRole)) && Model.Status == OpenQMS.Models.Capa.CapaStatus.Implementation)
                                        {
                                            <br />
                                            <button class="btn btn-success" id="btnApproved">Approve</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                    <div class="card-body">
                        <h5 class="font-weight-bold">Changes List</h5>
                        <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Proposal</th>
                                    <th>Assessment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Changes != null)
                                {
                                    foreach (var item in Model.Changes)
                                    {
                                        <tr>
                                            <td>
                                                <a href="/Changes/Details/@item.Id">@item.Title</a>
                                            </td>
                                            <td>@item.Proposal</td>
                                            <td>@item.Assessment</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $('#btnAccepted').click(function () {

            window.location.href = '/Capas/Accepted?id=' + $('#CapaId').val() + '&email=' + $('#InputEmail').val() + '&pwd=' + $('#InputPassword').val();
        });
        $('#btnApproved').click(function () {

            window.location.href = '/Capas/Approved?id=' + $('#CapaId').val() + '&email=' + $('#InputEmail').val() + '&pwd=' + $('#InputPassword').val();
        });
    </script>
}
