@*
This file is part of the OpenQMS.net project (https://github.com/C-realize/OpenQMS).
Copyright (C) 2022-2024  C-realize IT Services SRL (https://www.c-realize.com)

This program is offered under a commercial and under the AGPL license.
For commercial licensing, contact us at https://www.c-realize.com/contact.  For AGPL licensing, see below.

AGPL:
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.
*@

@model OpenQMS.Models.Capa

@{
    ViewData["Title"] = "Edit";
    var products = (List<Product>)ViewData["Products"];
    var processes = (List<Process>)ViewData["Processes"];
    var assets = (List<Asset>)ViewData["Assets"];
    var deviations = (List<Deviation>)ViewData["Deviations"];
    var materials = (List<Material>)ViewData["Materials"];
}

<h1>Edit</h1>

<h4>CAPA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CapaId" value="@Model.CapaId" />
            <input type="hidden" asp-for="DeterminedBy" />
            <input type="hidden" asp-for="DeterminedOn" />
            <input type="hidden" asp-for="AssessedBy" />
            <input type="hidden" asp-for="AssessedOn" />
            <input type="hidden" asp-for="AcceptedBy" />
            <input type="hidden" asp-for="AcceptedOn" />
            <input type="hidden" asp-for="Status" />

            @if (@Model.Status == Capa.CapaStatus.Determination || @Model.Status == Capa.CapaStatus.Assessment)
            {
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Product</label>
                    <select asp-for="ProductId" class="form-control" asp-items='new SelectList(products,"Id","Name")'>
                        <option value="">--Select Product--</option>
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Process</label>
                    <select asp-for="ProcessId" class="form-control" asp-items='new SelectList(processes,"Id","Name")'>
                        <option value="">--Select Process--</option>
                    </select>
                    <span asp-validation-for="ProcessId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Asset</label>
                    <select asp-for="AssetId" class="form-control" asp-items='new SelectList(assets,"Id","Name")'>
                        <option value="">--Select Asset--</option>
                    </select>
                    <span asp-validation-for="AssetId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Material</label>
                    <select asp-for="MaterialId" class="form-control" asp-items='new SelectList(materials,"Id","Name")'>
                        <option value="">--Select Material--</option>
                    </select>
                    <span asp-validation-for="MaterialId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Deviation</label>
                    <select asp-for="DeviationId" class="form-control" asp-items='new SelectList(deviations,"Id","Title")'>
                        <option value="">--Select Deviation--</option>
                    </select>
                    <span asp-validation-for="DeviationId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CorrectiveAction" class="control-label"></label>
                    <textarea asp-for="CorrectiveAction" class="form-control"></textarea>
                    <span asp-validation-for="CorrectiveAction" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PreventiveAction" class="control-label"></label>
                    <textarea asp-for="PreventiveAction" class="form-control"></textarea>
                    <span asp-validation-for="PreventiveAction" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Assessment" class="control-label"></label>
                    <textarea asp-for="Assessment" class="form-control"></textarea>
                    <span asp-validation-for="Assessment" class="text-danger"></span>
                </div>
            }
            else
            {
                @if (@Model.Status == Capa.CapaStatus.Accepted || @Model.Status == Capa.CapaStatus.Implementation)
                {
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" readonly />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Product</label>
                        <input type="hidden" asp-for="ProductId" />
                        @if (Model.Product != null)
                        {
                            <input asp-for="Product.Name" class="form-control" readonly />
                        }
                        else
                        {
                            <input class="form-control" readonly />
                        }
                    </div>
                    <div class="form-group">
                        <label>Process</label>
                        <input type="hidden" asp-for="ProcessId" />
                        @if (Model.Process != null)
                        {
                            <input asp-for="Process.Name" class="form-control" readonly />
                        }
                        else
                        {
                            <input class="form-control" readonly />
                        }
                    </div>
                    <div class="form-group">
                        <label>Asset</label>
                        <input type="hidden" asp-for="AssetId" />
                        @if (Model.Asset != null)
                        {
                            <input asp-for="Asset.Name" class="form-control" readonly />
                        }
                        else
                        {
                            <input class="form-control" readonly />
                        }
                    </div>
                    <div class="form-group">
                        <label>Material</label>
                        <input type="hidden" asp-for="MaterialId" />
                        @if (Model.Material != null)
                        {
                            <input asp-for="Material.Name" class="form-control" readonly />
                        }
                        else
                        {
                            <input class="form-control" readonly />
                        }
                    </div>
                    <div class="form-group">
                        <label>Deviation</label>
                        <input type="hidden" asp-for="DeviationId" />
                        @if (Model.Deviation != null)
                        {
                            <input asp-for="Deviation.Title" class="form-control" readonly />
                        }
                        else
                        {
                            <input class="form-control" readonly />
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="PreventiveAction" class="control-label"></label>
                        <textarea asp-for="PreventiveAction" class="form-control" readonly></textarea>
                        <span asp-validation-for="PreventiveAction" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CorrectiveAction" class="control-label"></label>
                        <textarea asp-for="CorrectiveAction" class="form-control" readonly></textarea>
                        <span asp-validation-for="CorrectiveAction" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Assessment" class="control-label"></label>
                        <textarea asp-for="Assessment" class="form-control" readonly ></textarea>
                        <span asp-validation-for="Assessment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Implementation" class="control-label"></label>
                        <textarea asp-for="Implementation" class="form-control"></textarea>
                        <span asp-validation-for="Implementation" class="text-danger"></span>
                    </div>
                }
            }

            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            <br>
            <a href="/Changes/Create" class="btn btn-info">Add New Change</a>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
