@model PaginatedList<OpenQMS.Models.AppDocument>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/AppDocuments/GetDocuments",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("PieChart");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            datasets: data.dataSet,
                            labels: data.labels
                        },
                        options: {
                            legend: {
                                display: true,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 14,
                                    fontColor: '#000'
                                }
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });

            $.ajax({
                url: "/AppDocuments/GetDocumentsForBarchart",
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    var ctx = document.getElementById("BarChart");
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: data.dataSet
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        fontColor: "black",
                                        fontSize: 9,
                                        beginAtZero: true,
                                        padding: 20
                                    },
                                    gridLines: {
                                        display: true,
                                        color: "#EBEBEB",
                                        drawBorder: false
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'No. Of Edited Documents',
                                        fontColor: "black",
                                        fontSize: 11
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        fontColor: "black",
                                        fontSize: 9,
                                        beginAtZero: true,
                                        padding: 10
                                    },
                                    gridLines: {
                                        display: false,
                                        color: "#EBEBEB",
                                        drawBorder: false
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Edited On',
                                        fontColor: "black",
                                        fontSize: 14
                                    }
                                }]
                            },
                            legend: {
                                display: false,
                                position: 'bottom',
                                labels: {
                                    boxWidth: 10,
                                    fontSize: 10,
                                    fontColor: '#000'
                                },
                                showLines: true
                            }
                        }
                    });
                },
                error: function (e, f, g) {
                    console.log(e, f, g);
                }
            });
        });
    </script>
}

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Documents
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-business-time fa-w-20"></i>
                        </span>
                        Actions
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Create">
                                    <i class="nav-link-icon lnr-inbox"></i>
                                    <span>
                                        Create New
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Version
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Authored By
                        </th>
                        <th>
                            Authored On
                        </th>
                        <th>
                            Approved By
                        </th>
                        <th>
                            Approved On
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Version)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthoredBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthoredOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApprovedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApprovedOn)
                        </td>
                        <td>
                            @if ((await AuthorizationService.AuthorizeAsync(User, item, DocumentOperations.Update)).Succeeded)
                            {
                                <a class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary actionButton" asp-action="Edit" asp-route-id="@item.Id"><i class="pe-7s-tools btn-icon-wrapper"> </i></a>
                            }
                            @if (item.Status != AppDocument.DocumentStatus.Approved && (await AuthorizationService.AuthorizeAsync(User, item, DocumentOperations.Delete)).Succeeded)
                            {
                                <a class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-warning actionButton" asp-action="Delete" asp-route-id="@item.Id"><i class="pe-7s-trash btn-icon-wrapper"> </i></a>
                            }
                            <a class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary actionButton" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div style="float: left; width: calc(100% - 600px);margin-left: 90px">
        <p>Documents Status Chart</p>
        <div style="width:265px; border:1px solid #7F7F7F; padding-top: 10px">
            <div>
                <canvas height="300" id="PieChart"></canvas>
            </div>
        </div>
    </div>
    <div style="float: right; width: 300px;">
        <p>Documents Status Chart</p>
        <div style="margin-left:-17px; border:1px solid #7F7F7F; padding: 8px 12px 0px 8px;">
            <div>
                <canvas height="300" id="BarChart"></canvas>
            </div>
        </div>
    </div>
</div>