@model OpenQMS.Models.Training

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <h2>
                Training
            </h2>
        </div>
    </div>
    <div class="page-title-subheading opacity-10">
        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a>
                        <i aria-hidden="true" class="fa fa-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="Index">Trainings List</a>
                </li>
                <li class="active breadcrumb-item" aria-current="page">
                    <a asp-action="Details" asp-route-id="@Model.Id">Training Details</a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <ul class="nav nav-tabs z_nav">
                    <li class="nav-item">
                        <a role="tab" class="nav-link Detail_tabs active show" id="tab-0" data-toggle="tab" href="#tab-content-0">
                            <span>Training Info</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane tabs-animation fade  active show" id="tab-content-0" role="tabpanel">
                    <div class="card-body" style="padding-top: 0px;">
                        <div class="row">
                            <div class="col-12 Details">
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.Name):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.Name)
                                        </p>
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.Date):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.Date)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">@Html.DisplayNameFor(model => model.Description):</p>
                                        <p>
                                            @Html.DisplayFor(model => model.Description)
                                        </p>
                                    </div>
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">Policy:</p>
                                        <a asp-controller="AppDocuments" asp-action="Details" asp-route-id="@Model.PolicyId">@Html.DisplayFor(model => model.PolicyTitle)</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <p style="font-weight: bold;">Trainer:</p>
                                        <p>
                                            @Html.DisplayFor(model => model.TrainerEmail)
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <table class="table">
                                            <tr>
                                                <th>Trainees</th>
                                            </tr>
                                            @foreach (var item in Model.Trainees)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Trainee.Email)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <a class="nav-link mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>