@model OpenQMS.Models.Training

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<h4>Training</h4>
<hr />
<div>
    <dl class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger col-sm-12"></div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Policy
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="AppDocuments" asp-action="Details" asp-route-id="@Model.PolicyId">@Html.DisplayFor(model => model.PolicyTitle)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompletedByUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompletedOn)
        </dd>
        <dt class="col-sm-2">
            Trainer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainerEmail)
        </dd>
        <dd class="col-sm-2">
            <table class="table">
                <tr>
                    <th>Trainees</th>
                </tr>
                @foreach (var item in Model.Trainees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trainee.Email)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>

    <input type="hidden" id="TrainingId" value="@Model.Id" />
    @if ((User.IsInRole(Constants.AdministratorsRole) || User.IsInRole(Constants.ManagersRole)) && Model.Status == Training.TrainingStatus.Scheduled)
    {
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="InputEmail" id="InputEmail" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="InputPassword" id="InputPassword" class="form-control" />
                </div>
            </div>
        </div>
        <br />
        <button class="btn btn-success" id="btnCompleted">Complete</button>
    }
</div>
<div>
    @if (User.IsInRole(Constants.ManagersRole) || User.IsInRole(Constants.AdministratorsRole))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit |</a>    
    }
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
    {
    <script>
        $('#btnCompleted').click(function () {

            window.location.href = '/Trainings/Complete?id=' + $('#TrainingId').val() + '&email=' + $('#InputEmail').val() + '&pwd=' + $('#InputPassword').val();
        });
    </script>
}