@model OpenQMS.Models.Change

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h4>Change</h4>
<hr />
<h5 style="color:red;">Are you sure you want to delete this?</h5>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChangeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Product
        </dt>
        <dd class="col-sm-10">
            @if (Model.Product != null)
            {
                <a href="/Products/Details/@Model.ProductId">@Model.Product.Name</a>
            }
        </dd>
        <dt class="col-sm-2">
            Process
        </dt>
        <dd class="col-sm-10">
            @if (Model.Process != null)
            {
                <a href="/Processes/Details/@Model.ProcessId">@Model.Process.Name</a>
            }
        </dd>
        <dt class="col-sm-2">
            Asset
        </dt>
        <dd class="col-sm-10">
            @if (Model.Asset != null)
            {
                <a href="/Assets/Details/@Model.AssetId">@Model.Asset.Name</a>
            }
        </dd>
        <dt class="col-sm-2">
            Material
        </dt>
        <dd class="col-sm-10">
            @if (Model.Material != null)
            {
                <a href="/Materials/Details/@Model.MaterialId">@Model.Material.Name</a>
            }
        </dd>
        <dt class="col-sm-2">
            Capa
        </dt>
        <dd class="col-sm-10">
            @if (Model.Capa != null)
            {
                <a href="/Capas/Details/@Model.CapaId">@Model.Capa.Title</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proposal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proposal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProposedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProposedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProposedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProposedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assessment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assessment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssessedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssessedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssessedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssessedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcceptedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcceptedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Implementation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Implementation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImplementedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImplementedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImplementedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImplementedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApprovedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
