@model IEnumerable<OpenQMS.Models.Change>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h4>Changes</h4>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proposal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProposedOn)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Assessment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssessedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssessedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcceptedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Implementation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImplementedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovedOn)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proposal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposedOn)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Assessment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Implementation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImplementedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImplementedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedOn)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>
