@model OpenQMS.Models.Deviation

@{
    ViewData["Title"] = "Edit";
    var products = (List<Product>)ViewData["Products"];
    var processes = (List<Process>)ViewData["Processes"];
    var assets = (List<Asset>)ViewData["Assets"];
    var materials = (List<Material>)ViewData["Materials"];
    var deviations = (List<Deviation>)ViewData["Deviations"];
}

<h1>Edit</h1>

<h4>Deviation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DeviationId" value="@Model.DeviationId" />
            <input type="hidden" asp-for="IdentifiedBy" />
            <input type="hidden" asp-for="IdentifiedOn" />
            <input type="hidden" asp-for="EvaluatedBy" />
            <input type="hidden" asp-for="EvaluatedOn" />
            <input type="hidden" asp-for="AcceptedBy" />
            <input type="hidden" asp-for="AcceptedOn" />
            <input type="hidden" asp-for="Status" />

            @if (@Model.Status == Deviation.DeviationStatus.Identification || @Model.Status == Deviation.DeviationStatus.Evaluation)
            {
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Product</label>
                    <select asp-for="ProductId" class="form-control" asp-items='new SelectList(products,"Id","Name")'>
                        <option value="">--SelectProduct--</option>
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Process</label>
                    <select asp-for="ProcessId" class="form-control" asp-items='new SelectList(processes,"Id","Name")'>
                        <option value="">--Select Process--</option>
                    </select>
                    <span asp-validation-for="ProcessId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Asset</label>
                    <select asp-for="AssetId" class="form-control" asp-items='new SelectList(assets,"Id","Name")'>
                        <option value="">--Select Asset--</option>
                    </select>
                    <span asp-validation-for="AssetId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Material</label>
                    <select asp-for="MaterialId" class="form-control" asp-items='new SelectList(materials,"Id","Name")'>
                        <option value="">--Select Material--</option>
                    </select>
                    <span asp-validation-for="MaterialId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Identification" class="control-label"></label>
                    <textarea asp-for="Identification" class="form-control"></textarea>
                    <span asp-validation-for="Identification" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Evaluation" class="control-label"></label>
                    <textarea asp-for="Evaluation" class="form-control"></textarea>
                    <span asp-validation-for="Evaluation" class="text-danger"></span>
                </div>
            }
            else
            {
                @if (@Model.Status == Deviation.DeviationStatus.Accepted || @Model.Status == Deviation.DeviationStatus.Resolution)
                {
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" readonly />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Product</label>
                        <input type="hidden" asp-for="ProductId" />
                        @if (Model.Product != null)
                        {
                            <input asp-for="Product.Name" class="form-control" readonly />
                        }
                        else
                        {
                            <input class="form-control" readonly />
                        }
                    </div>
                    <div class="form-group">
                        <label>Process</label>
                        <input type="hidden" asp-for="ProcessId" />
                        @if (Model.Process != null)
                        {
                            <input asp-for="Process.Name" class="form-control" readonly />
                        }
                        else
                        {
                            <input class="form-control" readonly />
                        }
                    </div>
                    <div class="form-group">
                        <label>Asset</label>
                        <input type="hidden" asp-for="AssetId" />
                        @if (Model.Asset != null)
                        {
                            <input asp-for="Asset.Name" class="form-control" readonly />
                        }
                        else
                        {
                            <input class="form-control" readonly />
                        }
                    </div>
                    <div class="form-group">
                        <label>Material</label>
                        <input type="hidden" asp-for="MaterialId" />
                        @if (Model.Material != null)
                        {
                            <input asp-for="Material.Name" class="form-control" readonly />
                        }
                        else
                        {
                            <input class="form-control" readonly />
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="Identification" class="control-label"></label>
                        <textarea asp-for="Identification" class="form-control" readonly ></textarea>
                        <span asp-validation-for="Identification" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Evaluation" class="control-label"></label>
                        <textarea asp-for="Evaluation" class="form-control" readonly ></textarea>
                        <span asp-validation-for="Evaluation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Resolution" class="control-label"></label>
                        <textarea asp-for="Resolution" class="form-control"></textarea>
                        <span asp-validation-for="Resolution" class="text-danger"></span>
                    </div>
                }
            }

            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            <br />
            <div>
                <a href="/Capas/Create" class="btn btn-info">Add New Capa</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
